.border
    border 1px solid shadyColor

.border-bottom
    border-bottom 1px solid grey
    padding-bottom .2rem

.border-bottom-dark
    border-bottom 1px solid darkGrey
    padding-bottom .2rem

.border-bottom-light
    border-bottom 1px solid lightGrey
    padding-bottom .2rem

.border-bottom-blue
    border-bottom 1px solid blue

.border-left
    border-left 1px solid lightGrey

    &.rejected
        border-left 3px solid red

    &.valid
        border-left 3px solid green

    &.to_review
        border-left 3px solid #0BF

.border-left-light
    border-left 1px solid lightGrey
    padding-left .2rem

.border-left-medium
    border-left 1px solid mediumGrey

.border-light
    border 1px solid #EEE
    border-radius .25rem
    padding .5rem

.border-right
    border-right 1px solid lightGrey

.border-right-medium
    border-right 1px solid mediumGrey

.border-top
    border-top 1px solid lightGrey
    padding-top .2rem

.border-top-blue
    border-top 1px solid blue

.border-top-grey
    border-top 1px solid darkGrey
    padding-top .2rem

.border-top-light-grey
    border-top 1px solid grey
    padding-top .2rem

.border-top-white
    border-top 1px solid #FFF
    padding-top .2rem



.divider
    border-bottom 1px solid grey
    margin 1rem

.no-border
    border 0

.no-border-bottom
    border-bottom 0

.no-border-left
    border-left 0

.no-border-right
    border-right 0

.radius
    border-radius 2px
