@import 'design/animations.styl'
@import 'design/colors.styl'
@import 'design/shadows.styl'
@import 'design/borders.styl'
@import 'design/font-styles.styl'
@import 'design/material.styl'
@import 'design/rotations.styl'

@import 'elements/basic.styl'
@import 'elements/buttons.styl'
@import 'elements/modals.styl'
@import 'elements/pricing-table.styl'

@import 'spacing/display.styl'
@import 'spacing/margins.styl'
@import 'spacing/paddings.styl'

.main-background
    background linear-gradient(to bottom right, #2BA , #FF7)
    background linear-gradient(135deg, #163 0%, mainColor 25%, #FFD 75%, #FF7 100%)

.chat-form 
    background #000
    padding 3px
    position fixed
    bottom 0
    width 100%

.login-container
    position fixed
    top 20%
    left 0
    right 0
    
    .login-form
        background mediumGrey
        border-radius .6rem
        padding 1rem
        
        label, input
            color white

#messages 
    margin 0
    padding 0

#messages li 
    margin .25rem

#messages li p 
    background #eee
    padding .5rem
    display inline-block
    border-radius .5rem .5rem .5rem 0rem
    margin 0

#messages li.own 
    text-align right

#messages li.own p 
    background mainColor
    border-radius .5rem .5rem 0rem .5rem
