

/* No mover */
.no-margin, .no-margin-mobile, .margin-bottom-large-only-label
    margin 0 !important

.no-margin-bottom-mobile
    margin-bottom 0 !important

.no-margin-bottom
    margin-bottom 0 !important

.no-margin-left
    margin-left 0 !important

.no-margin-top
    margin-top 0 !important

.no-min-height
    height auto !important
    min-height auto !important

/* Si están por debajo de padding o margin, los machacan */


/* SMALL ONLY */
@media screen and (max-width: 40rem)

    .margin-top-for-small
        margin-top 1rem

    .margin-top-05-for-small
        margin-top .5rem

    .margin-top-025-for-small
        margin-top .25rem

    .margin-right-for-small
        margin-right 1rem

    .margin-right-05-for-small
        margin-right .5rem

    .margin-right-025-for-small
        margin-right .25rem

    .margin-bottom-for-small
        margin-bottom 1rem

    .margin-bottom-05-for-small
        margin-bottom .5rem

    .margin-bottom-025-for-small
        margin-bottom .25rem

    .margin-left-for-small
        margin-left 0.9375rem

    .margin-left-05-for-small
        margin-left .5rem

    .margin-left-025-for-small
        margin-left .25rem


/* MEDIUM UP */
@media screen and (min-width: 40rem)

    .margin-05-medium-up
        margin 0.5rem

    .margin-top-2-medium-up
        margin-top 2rem

    .margin-top-4-negative-medium-up
        margin-top -0.9375*4rem !important

    .margin-right-medium-up
        margin-right 1em

    .margin-bottom-4-negative-medium-up
        margin-bottom -0.9375*4rem !important

    .margin-left-medium-up
        margin-left 1em


    .no-margin-bottom-mobile, p.margin-bottom-mobile-up
        margin-bottom .75rem !important

        &.margin-bottom-05
            margin-bottom .5rem !important

    .margin-top-for-medium-up
        margin-top 1rem

    .margin-top-05-for-medium-up
        margin-top .5rem

    .margin-top-025-for-medium-up
        margin-top .25rem

    .margin-right-for-medium-up
        margin-right 1rem

    .margin-right-05-for-medium-up
        margin-right .5rem

    .margin-right-025-for-medium-up
        margin-right .25rem

    .margin-bottom-for-medium-up
        margin-bottom 1rem

    .margin-bottom-05-for-medium-up
        margin-bottom .5rem

    .margin-bottom-025-for-medium-up
        margin-bottom .25rem

    .margin-left-for-medium-up
        margin-left 0.9375rem

    .margin-left-05-for-medium-up
        margin-left .5rem

    .margin-left-025-for-medium-up
        margin-left .25rem


/* Tablet Landscape */
@media screen and (min-width: 950px) and (orientation: landscape)
    .margin-bottom-4-negative-tablet-landscape-up
        margin-bottom -0.9375*4rem !important

    .margin-top-4-negative-tablet-landscape-up
        margin-top -0.9375*4rem !important



/* Large */
@media screen and (min-width: 1025px)

    .margin-bottom-05-large-only-label
        margin-bottom .5rem !important

    .margin-bottom-large-only-label
        margin-bottom 1rem !important




.margin-05
    margin 0.5rem

.margin
    margin 0.9375rem



/* COMBOS */
.margin-top-bottom, .margin-bottom-top
    margin-bottom 1rem
    margin-top 1rem

.margin-left-right, .margin-right-left
    margin-left 1rem
    margin-right 1rem

.margin-left-right-025, .margin-right-left-025
    margin-left .25rem
    margin-right .25rem

/* BOTOM */

.margin-bottom
    margin-bottom 0.9375rem !important

.margin-bottom-05
    margin-bottom .5rem !important

.margin-bottom-05-large-only-label
    margin-bottom 0rem !important

.margin-bottom-025
    margin-bottom .25rem !important

.margin-bottom-2
    margin-bottom 0.9375*2rem !important

.margin-bottom-5
    margin-bottom 0.9375*5rem !important

.margin-bottom-input
    margin-bottom .8rem !important

.margin-bottom-4-negative
    margin-bottom -0.9375*4rem !important

/* END BOTOM */


/* LEFT */
.margin-left
    margin-left 0.9375rem !important

.margin-left-05
    margin-left 0.5rem !important

.margin-left-075
    margin-left 0.75rem !important

.margin-left-2
    margin-left 2rem !important

.margin-left-negative
    margin-left -0.9375rem !important

.margin-left-negative-2
    margin-left -2rem !important

/* END LEFT */


/* RIGHT */

.margin-right
    margin-right 1rem !important

.margin-right-15
    margin-right 1.5rem !important

.margin-right-025
    margin-right .25rem !important

.margin-right-05
    margin-right .5rem !important

.margin-right-25
    margin-right 2.5rem !important

/* END RIGHT */

/* TOP */

.margin-top
    margin-top 0.9375rem !important

.margin-top-01
    margin-top .1rem

.margin-top-05
    margin-top 0.5rem !important

.margin-top-075
    margin-top 0.75rem !important

.margin-top-025
    margin-top 0.25rem !important

.margin-top-15
    margin-top 0.9375*1.5rem

.margin-top-2
    margin-top 0.9375*2rem

.margin-top-3
    margin-top 0.9375*3rem

.margin-top-4
    margin-top 0.9375*4rem

.margin-top-negative
    margin-top -0.9375rem

.margin-top-negative-025
    margin-top -0.9375*0.25rem

.margin-top-negative-05
    margin-top -0.9375*0.5rem

.margin-top-negative-15
    margin-top -0.9375*1.5rem

.margin-top-negative-2
    margin-top -0.9375*2rem

/* END TOP */
