.no-padding
    padding 0 !important

.no-padding-bottom
    padding-bottom 0 !important

.no-padding-left
    padding-left 0 !important

.no-padding-right
    padding-right 0 !important

.no-padding-small
    padding 0

.padding
    padding 0.9375rem !important

    &.inside-box
        padding-bottom 0

.padding-025
    padding 0.25rem !important

.padding-035
    padding 0.35rem !important

.padding-05
    padding 0.5rem !important

.padding-06
    padding 0.6rem !important

.padding-07
    padding 0.7rem !important

.padding-075
    padding 0.75rem !important

.padding-15
    padding 1.5rem !important

.padding-2
    padding 2rem !important

.padding-bottom-05
    padding-bottom 0.5rem !important

.padding-bottom
    padding-bottom 1rem

.padding-bottom-2
    padding-bottom 0.9375*2rem

.padding-bottom-4
    padding-bottom 0.9375*4rem

.padding-bottom-6
    padding-bottom 0.9375*6rem

.padding-bottom-10
    padding-bottom 0.9375*10rem

.padding-left
    padding-left 0.9375rem !important

    &.title
        padding-left 1.25rem

.padding-left-025
    padding-left 0.25rem !important

.padding-left-05
    padding-left 0.5rem !important

.padding-left-08
    padding-left 0.8rem !important

.padding-left-right-05
    padding-left 0.5rem
    padding-right 0.5rem

.padding-left-right-075
    padding-left 0.75rem
    padding-right 0.75rem

.padding-left-right
    padding-left 0.9375rem
    padding-right 0.9375rem

.padding-left-right-1
    padding-left 1rem
    padding-right 1rem

.padding-15
    padding 1.5rem !important

.padding-left-15
    padding-left 0.9375*1.5rem !important

.padding-left-2
    padding-left 0.9375*2rem !important

.padding-left-to-center
    padding-left 4.5rem !important

.padding-left-to-center-2
    padding-left 11rem !important

.padding-right-025
    padding-right 0.25em

.padding-right-05
    padding-right 0.5em

.padding-right
    padding-right 0.9375rem !important

.padding-right-2
    padding-right 0.9375*2rem !important

.padding-right-to-center
    padding-right 4.5rem


.padding-top-bottom,.padding-bottom-top
    padding-top 0.9375rem
    padding-bottom 0.9375rem

.padding-top
    padding-top 0.9375rem

.padding-top-025
    padding-top 0.25rem

.padding-top-05
    padding-top 0.5rem

.padding-top-075
    padding-top 0.75rem

.padding-top-2
    padding-top 0.9375*2rem

.padding-top-3
    padding-top 0.9375*3rem

.padding-top-4
    padding-top 0.9375*4rem

.padding-top-6
    padding-top 0.9375*6rem

.padding-top-fixed-menu
    padding-top 0.9375*3rem


/* SMALL ONLY*/
@media screen and (max-width: 640px)
    .padding-05-for-small
        padding .5rem

    .no-padding-small, .no-padding-for-small
        padding 0

/* Medium */
@media screen and (min-width: 640px)

    .padding-bottom-6-medium-up
        padding-bottom 0.9375*6rem

    .padding-left-medium
        padding-left 0.9375rem

    .padding-top-3-medium-up
        padding-top 0.9375*3rem

    .padding-05-medium-up
        padding .5rem

    .no-padding-left-medium-up
        padding-left 0

/* Tablet Landscape */
@media screen and (min-width: 950px) and (orientation: landscape)
    .padding-bottom-4-tablet-landscape-up
        padding-bottom 0.9375*4rem

    .padding-bottom-6-tablet-landscape-up
        padding-bottom 0.9375*6rem
